/* -------------------------------------------
ホーム画面
------------------------------------------- */
#home-view .slogan {
    font-size:0.9rem;
}
#home-view.sum-period, .small-font {
    font-size:0.8rem;
}

/* imgをレスポンシブに表示 */
#home-view .recommend-recipe {
    display:flex;
}
#home-view .recommend-recipe .card {
    width:40%;
    margin-right: 8px;
}
#home-view .recommend-recipe .card-body {
    margin-right:10px;
    padding-top: 70%;
    margin: 10px 5px;
    overflow:hidden;
    position:relative;
}
#home-view .recommend-recipe .card-header {
    border:none;
}
#home-view .recommend-recipe img {
    width:100%;
    height:100%;
    position:absolute;
        top:50%;
        left:50%;
    transform:translate(-50%, -50%);
}
#home-view .recommend-recipe p {
    font-size:1rem;
}


/* ----------------------------------------------------------------------------------
共通CSS・パーツ類
---------------------------------------------------------------------------------- */
/* -------------------------------------------
画像のプレビュー
------------------------------------------- */
.preview-size {
    width:400px;
}
#previewImage {
    width:200px;
}
#previewImage img {
    width:100%;
}

.upload-image {
    width:100%;
}
.upload-image img {
    width:100%;
}

/* ---------------------------------------
水色のボーダーヘッダー
--------------------------------------  */
.custom-topnav {
    background-color: #8be4f0;
	background-image: linear-gradient(-90deg, #fff 50%, transparent 50%);
	background-size: 14px 14px;
}

/* -------------------------------------------
検索バー
------------------------------------------- */
.search-window form {
    width:50%;
}
.search-window form .search-btn {
    width:30%;
    height:37px;
}
/* .content .container-fluid .search-window {
    width:30%;
} */
.content .container-fluid .search-message {
    margin-bottom:16px;
}
.content .container-fluid .input-group {
    margin-bottom:16px;
}

/* -------------------------------------------
必須マーク
-------------------------------------------- */
.need-mark {
    color:white;
    background-color:rgb(236, 105, 105);
    border-radius:5px;
    font-size: 0.5rem;
    font-weight: normal;
    padding:3px 5px;
    margin-left:2px;
}

/* -------------------------------------------
スクロールボタン
-------------------------------------------- */
.scroll-btn-area {
    z-index:999;
    position:fixed;
        right:5%;
        bottom: 30vh;
    background-color: rgba(224, 224, 222, 0.7);
    border-radius: 10px;
    padding:6px 12px;
}
.scroll-btn-area button {
    padding:5px;
}
.scroll-btn-area p {
    font-size: 0.8rem;
}

/* ---------------------------------------
印刷ボタン
--------------------------------------  */
.print-area {
    position: relative;
        top:-1px;
    width:30px;
    padding:1px;
}
.print-area img {
    position: absolute;
    width:90%;
    z-index: 0;
}
.print-area input {
    position: absolute;
    width:100%;
    background-color: transparent;
    border: none;
    z-index: 1;
}

/* -------------------------------------------
色の設定
-------------------------------------------*/
.color-red {
    color:red;
}
.color-pink {
    color:rgb(230, 104, 129);
}
.pink,.pink td{
    background-color: rgb(254, 213, 220);
}
.purple, .purple td{
    background-color: rgb(227, 195, 227);
}
.blue, .blue td{
    background-color: rgb(217, 217, 248);
}
.aqua,.aqua td{
    background-color:rgb(197, 247, 230);
}
.green,.green td{
    background-color: rgb(224, 254, 179);
}
.yellow,.yellow td{
    background-color: rgb(245, 245, 170);
}
.orange,.orange td{
    background-color: rgb(249, 220, 165);
}


/* ----------------------------------------------------------------------------------
レスポンシブ対応
---------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    /* -------------------------------------------
    大枠
    ------------------------------------------- */
    .content-wrapper {
        min-width: 360px;
    }
    .content-header {
        padding: 5px 8px 0; 
    }
    .content-header .container-fluid h1 {
        font-size:1.5rem;
        padding:10px 0;
    }

    .card-header {
        padding:4px 16px;
        align-items: center;
    }
    .card-header .card-title {
        margin:4px;
        font-size: 1rem;
    }
    .card-body {
        padding:8px;
    }
    .card-tools .input-group-append .btn {
        margin-top:6px;
        font-size: 0.9rem;
    }
    .card table {
        font-size:1rem;
    }

    /* -------------------------------------------
    検索バー
    ------------------------------------------- */
    .content .container-fluid div.search-message {
        font-size:12px;
        margin:0;
    }
    .content .container-fluid .input-group {
        margin-bottom:10px;
    }
    .search-window form {
        width:65%;
    }
    .search-window form .search-btn {
        width:38%;
    }
    #button-addon2 {
        font-size:0.9rem;
        padding:3px 6px;
    }
    #button-addon2 i {
        display: none;
    }
}