/* 検索バー */
.btn-outline-success {
    width:90px;
}

.content .container-fluid .search-window {
    width:300px;
}

.content .container-fluid .search-message {
    margin-bottom:16px;
}

.content .container-fluid .input-group {
    margin-bottom:16px;
}
#create-recipe form .card-body .form-group label {
    margin-bottom:6px;
}

/* ---------------------------------------
詳細画面
--------------------------------------  */
.print-area {
    position: relative;
    width:30px;
}
.print-area img {
    position: absolute;
    width:100%;
    z-index: 0;
}

.print-area input {
    position: absolute;
    width:100%;
    background-color: transparent;
    border: none;
    z-index: 1;
}


/* ---------------------------------------
--------------------------------------  */
.custom-topnav {
    background-color: #8be4f0;
	background-image: linear-gradient(-90deg, #fff 50%, transparent 50%);
	background-size: 14px 14px;
}


.addForm:nth-child(even) {
    background-color:#F4F6F9;
}

.preview-size {
    width:400px;
}

#previewImage {
    width:200px;
}

#previewImage img {
    width:100%;
}

.food-select-area {
    max-height: 200px; 

    /* 指定した高さよりも大きくなるとスクロールになる */
    overflow-y: auto;
}

.food-label {
    width:100px;
}

.color-red {
    color:red;
}

.upload-image {
    width:80px;
}

.upload-image img {
    width:90%;
}

.scroll-btn-area {
    z-index:999;
    position:fixed;
        right:100px;
        bottom: 40vh;
}

.recipe-name {
    background: -moz-linear-gradient(to right, #8be4f0 70%,white); 
    background: -webkit-linear-gradient(to right,  #8be4f0 70%,white); 
    background:linear-gradient(to right, #8be4f0 70%,white);
    padding:6px;
    border-left:double 10px #06a2ba;
}

/* 付箋のCSS */
.food-ready-area {
    margin-top:60px;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}

/* 付箋のめくれた部分のCSS */
.food-ready-area:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.food-border {
    width:90%;
    margin: 0 15px 5px;
    padding:0;
    border-bottom:3px dotted white;
}

.dot-border {
    border-top:3px dotted rgb(199, 197, 197);
    padding-top:12px;
}

.recipe-image {
    width:100%;
}
.recipe-image img {
    width:80%;
    height:auto;
    border-radius: 10px;
    box-shadow: 4px 4px 8px gray;
}

.recipe-image #previewImage {
    width:100%;
}

.recipe-image #previewImage img {
    width:80%;
}




#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#mySelect {
    width:150px;
    height: 70px;
    overflow-y: scroll;
}

#myUL option {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}


td {
    background-color: transparent;
}
.pink,.pink td{
    background-color: rgb(254, 213, 220);
}
.purple, .purple td{
    background-color: rgb(227, 195, 227);
}
.blue, .blue td{
    background-color: rgb(217, 217, 248);
}
.aqua,.aqua td{
    background-color:rgb(197, 247, 230);
}
.green,.green td{
    background-color: rgb(224, 254, 179);
}
.yellow,.yellow td{
    background-color: rgb(245, 245, 170);
}
.orange,.orange td{
    background-color: rgb(249, 220, 165);
}

/* 在庫登録画面のラジオボタン */
#records-container .food-record td div {
    padding:0px
}

#records-container .food-record td div input {
    display:none;
}

#records-container .food-record td div label{
    height:100%;
    width:50px;
    text-align: center;
    padding:5px 0;
    font-weight: normal;
}

#records-container .food-record td div label.radio-left {
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-right:solid 0.5px #ddd;
}

#records-container .food-record td div label.radio-center {
    padding: 5px 3px;
    border-right:solid 0.5px #ddd;
}

#records-container .food-record td div label.radio-right {
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

#records-container .food-record td div input:checked + label {
    background-color: gray;
    color:white;
    }

    @media screen and (max-width: 570px) {
    /* 大枠 */
    .content-wrapper {
        min-width: 360px;
    }
    .content-header {
        padding: 5px 8px 0; 
    }
    .content-header .container-fluid h1 {
        font-size:18px;
        padding:10px 0;
    }

    /* レシピ一覧画面 */
    .content .container-fluid div.search-message {
        font-size:12px;
        margin:0;
    }

    .content .container-fluid .input-group {
        margin-bottom:2px;
    }
    .content .container-fluid .input-group form {
        display:inline-block
    }
    .content .container-fluid .input-group .search-window {
        min-width:200px;
        height: 30px;
        font-size: 12px;
    }

    .content .container-fluid .input-group .search-window .search-btn {
        font-size: 12px;
        padding:1px;
        width:30px;
    }

    /* .content .container-fluid .input-group .search-window i {
        display:none;
    } */

    .card-header {
        padding:4px 16px;
        align-items: center;
    }

    .card-header .card-title {
        margin:4px;
        font-size: 14px;
    }
    .card-body {
        padding:8px;
    }

    .card-tools .input-group-append .btn {
        margin-top:6px;
        font-size: 10px;
    }

    .card table {
        font-size:14px;
    }
    .card table th {
        display:none;
    }

    .card table td.responsive-img {
        width:100%;
        padding:5px;
        padding-left:0;
    }

    .card table td.responsive-img img {
        width:100%;
    }

    .card table td.responsive-td {
        display: block;
        padding:2px;
        font-size: 8px;
    }

    .card table td.responsive-td {
        margin-right:2px;
    }

    .card table td.responsive-td button {
        font-size:12px;
        padding:2px 0;
    } 
    
    .card table td.responsive-btn {
        /* display: block; */
        padding: 6px 0 0;
    }

    .card table td.responsive-btn .btn {
        font-size: 6px;
        padding:3px 4px;
        border-radius:0;
    }

    /* レシピ登録画面 */
    #create-recipe .form-group {
        margin-bottom:3px;
    }
    #create-recipe table, label,b {
        font-size:12px;
    }
    #create-recipe input {
        height:26px;
        font-size: 12px;
    }
    #create-recipe .btn {
        height:22px;
        font-size: 10px;
        padding:2px 6px;
    }
    #create-recipe span {
        font-size: 6px;
    }

    #create-recipe #ingredient-table {
        flex-direction: column;
    }

    #create-recipe #ingredient-table #amount-table {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    #create-recipe #ingredient-table #amount-table th {
        display: block;
    }
    #create-recipe #ingredient-table #amount-table tr {
        display: flex;
    }
    #create-recipe #ingredient-table #amount-table td {
        padding:2px 4px;
    }

    #create-recipe .dot-border {
        margin-top:10px;
        padding:6px 8px 12px;
    }

    @media screen and (min-width: 571px) and (max-width: 780px) {

    }


}

.color-pink {
    color:rgb(230, 104, 129);
}